<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Focustrack{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
</head>
<body>
    <header class="site-header">
        <div class="w3-container w3-margin-bottom">
            <a href="/" class="header-logo">Home</a>
            <form id="auth-form" action="/signup" method="post">
                <input
                    type="text" 
                    name="username" 
                    placeholder="Username"
                >
                <input 
                    type="text" 
                    name="password" 
                    placeholder="Password"
                >
                <input type="submit" value="Login" onclick="setActionForm('login')">
                <input type="submit" value="Signup" onclick="setActionForm('signup')"/>
            </form>
        </div>
        
        <script>
            function setActionForm(action) { // check if button clicked is the login button or the register button
                let form = document.getElementById("auth-form"); // take the html form
            }

            if (action === "login") { // if user clicks login
                form.action = "{{url_for('login')}}";
                form.method = "post";
                form.sumbit();

            } else if (action === "signup") { // if user clicks signup
                form.aciton = "{{url_for('signup')}}";
                form.method = "post";
                form.submit();
            }
        </script>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>