<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Focustrack{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
</head>
<body>
    <header class="site-header">
        <div class="w3-container w3-margin-bottom">
            <a href="/" class="header-logo">Home</a>
            <form action="">
                <input
                    type="text" 
                    name="username" 
                    placeholder="Username"
                >
                <input 
                    type="text" 
                    name="password" 
                    placeholder="Password"
                >
                <input type="submit" value="Login">
                <input type="button" value="Register">
            </form>
        </div>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>