<!-- Extends base layout -->
{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<form class="w3-container" action="/add_task" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title">
    <label for="description">Description</label>
    <input type="text" name="description">
    <label for="priority">Priority</label>
    <input type="text" name="priority">
    <input type="submit" value="add">
</form>

<div class="task-container">
{% for task in tasks %}
<div class="w3-button w3-round w3-border w3-border-blue">
    <a href="/task/{{ task.id }}">
    <p> Title: {{ task.title }} | Description: {{ task.description }} | Priority: {{ task.priority }} | Due Date: {{ task.due_date }}</p>
    </a>
    <form action="/delete/{{ task.id }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this task?');">
        <input type="submit" value="delete">
    </form>
</div>
{% endfor %}
</div>
{% endblock %}