<!-- Extends base layout -->
{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="auth-container">

    <div class="home-title">
        <h1>Focustrack</h1>
    </div>

    <form class="login-form" id="auth-form" method="post">
        <input
            type="text" 
            name="username" 
            placeholder="Username"
        >
        <input 
            type="password" 
            name="password" 
            placeholder="Password (at least 8 characters)"
        >
        <input type="submit" value="Login" formaction="/login"> <!-- If user clicks login, use the login route -->
        <input type="submit" value="Signup" formaction="/signup"> <!-- If user clicks signup, use the signup route -->
    </form>

    <a class="guest-button w3-button w3-round w3-border w3-border-blue" href="/guest">Guest Mode</a>

    {% if error %}
        <div class="error-message">
            <p style="color: red;">{{ error }}</p>
        </div>
    {% endif %}
    <div class="description w3-border w3-border-blue">
    <h1>What is Focustrack?</h1>
    <h3>Focustrack is a website that helps anyone to keep track of their tasks more easier and efficiently. In this website, you can start sessions to motivate you to concentrate and edit the details of each task like title, progress, priority, etc.</h3>
    </div>
</div>
{% endblock %}